<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Veiculos</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/bootstrap.min.css"/>
<!--          th:href="@{/css/bootstrap.min.css}" />-->
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/pinkstrap.css" th:href="@{/css/pinkstrap.css}" />
</head>
<body>
<header class="caixaGeral">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand col-lg-8" href="/">Estacionamento</a>
            <form class="form-inline my-2 my-lg-0 col-lg-4" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Placa do Carro" aria-label="Search" name="placa">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>

            </form>
    </nav>
</header>
<div class="container caixaGeral">

    <div>
        <table class="table table-hover">
            <h1>Veiculos Estacionados</h1>
            <thead>
            <tr>
                <th>Informações</th>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Hora Entrada</th>
                <th>Hora Saida</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr>-->
<!--               <td>Teste</td>-->
<!--            </tr>-->
            <tr th:each="veiculo : ${veiculos}">
               <td> <a th:href="@{/veiculos/{id}(id=${veiculo.id})}">Encerrar</a></td>
<!--                <td><a th:href="/veiculos/${veiculo.id}">Link</a></td>-->
                    <td><span th:text="${veiculo.placa}"></span></td>
                    <td><span th:text="${veiculo.modelo}"></span></td>
                    <td><span th:text="${veiculo.marcaveiculo}"></span></td>
                    <td><span th:text="${#temporals.format(veiculo.horaEntrada, 'HH:mm')}"></span></td>
                    <td><span th:text="${veiculo.horaSaida}? ${#temporals.format(veiculo.horaSaida, 'HH:mm')}
                    : 'Estacionado'"></span></td>
            </tr>
<!--            <tr>Ta aparecendo ?</tr>-->
            </tbody>
        </table>
    </div>

    <hr/>

    <h1>Adicionar Veiculo</h1>
    <form method="post" th:object="${veiculo}">
        <div class="form-group col-lg-4">
            <label for="placa">Placa</label> <input type="text"
                                                           class="form-control" id="placa" name="placa" placeholder="Placa" />
        </div>
        <div class="form-group col-lg-4">
            <label for="modelo">Modelo</label> <input type="text"
                                                     class="form-control" id="modelo" name="modelo" placeholder="Modelo Carro" />
        </div>
        <div class="form-group col-lg-4">
            <label for="marcaveiculo">Marca</label> <input
                type="text" class="form-control" id="marcaveiculo" name="marcaveiculo" placeholder="Marca do Carro" />
<!--            <label th:for="marca">Marca Veiculo</label><br>-->
<!--            <select class="dropboxStyle" name="marca" th:field="*{marca}" id="marca">-->
<!--                <option  th:each="marcaveiculo : ${marcaveiculo}"-->
<!--                         th:value="${macarveiculo}"-->
<!--                         th:text="${marcaveiculo.name}" selected="selected"></option>-->
<!--            </select>-->
<!--            <label th:for="marcaveiculo">Marca Carro</label>-->
<!--            <select name = "marcaveiculo">-->
<!--                <option value=""></option>-->
<!--                <option th:each="marcaveiculo : ${T(src.main.java.br.com.estacionamento.estacionamentoBecca.enums.MarcaVeiculo).values()}"-->
<!--                        th:value="${marcaveiculo}" th:text="${marcaveiculo}"-->
<!--                        selected="selected">-->
<!--                </option>-->
<!--            </select>-->
        </div>

        <div class="input-group col-lg-12">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input" value="1" name="oid_tipo_veiculo">
                    <label> Carro</label>
                    <br>
                    <input type="radio" aria-label="Radio button for following text input" value="2" name="oid_tipo_veiculo">
                    <label> Moto</label>
                    <br>
                    <input type="radio" aria-label="Radio button for following text input" value="3" name="fatorEstacionamento">
                    <label> E um Utilitario ?</label>
                </div>
            </div>
        </div>

        <div class="botaoCastrar">
            <button type="submit" class="btn-success ">Cadastrar</button>
        </div>
    </form>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>